/*Tags*/
a {
  color: #40514E;
  font-family: 'Montserrat', cursive;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

body {
  color: lightyellow;
  text-align: left;
  background-color: #a4c5c6;
  margin-left: 20px;
  font-family: 'Merriweather', serif;
}

hr {
  border: dotted grey 6px;
  border-bottom: none;
  width: 5%;
  margin: 100 auto;
}

h1 {
  font-family: 'Arizonia', cursive;
  font-size: 4rem;
  margin: 30px auto 0 auto;
  font-weight: bold;
}

h2, h3, h5, p {
  color: lightyellow;
  font-family: 'Montserrat', cursive;
  text-align: center;
}

h2{
  font-size: 2.5rem;
  font-weight: bolder;
}

h3 {
  font-size: 1.5rem;
  font-weight: normal;
}

h5{
  font-size: 1rem;
  font-weight: normal;
}

p {
  margin-top: 150px;
  font-size: 0.75rem;
}

/*Classes*/
.bottom-cloud {
  position: absolute;
  left: 30%;
  text-align: left;
  bottom: 200px;
}

.courses-h2{
  text-align: left;
  margin: 20px auto 10px 37.5px;
}

.courses-h3{
  text-align: left;
  margin: 20px auto 10px;
}

.form {
  text-align: center;
  font-family: 'Montserrat', cursive;
  color: lightyellow;
  margin: 50px auto;
}

.input {
  font-size: medium;
  font-family: Montserrat;
  background: cadetblue;
  color: lightyellow;
  font-weight: bold;
  margin: 20px auto;
}

.link {
  font-weight: bold;
  margin: 50px 42% auto 42%;
}

.list {
  text-align: left;
  width: 25%;
  margin: auto auto 50px;
  text-decoration: none;
}

.mountains {
  background-color: #a4c5c6;
  margin: 100px auto;
}

.text {
  margin: 20px auto;
}

.top-container {
  background-color: #a4c5c6;
  text-align: center;
  position: relative;
  padding-top: 10px;
  margin-bottom: 50px;
  text-decoration: none;
}

.top-cloud {
  position: absolute;
  right: 30%;
  text-align: right;
}

/*ID's*/
