 body {
   background-color: #a4c5c6;
 }

 hr {
   border-style: none;
   border-color: grey;
   border-width: 5px;
   border-top-style: dotted;
   width: 5%;
 }

 h1{
  color: lightyellow;
}

h3{
 color: lightyellow;
}

h3{
 color: lightyellow;
}
